/* CSS */
body {
  background: #1a1a1a;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #262626;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-top: 5px solid #ff4b2b; /* Color de acento */
  width: 350px;
}

h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

h2 span { color: #ff4b2b; }

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff4b2b;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover { background: #ff6b52; transform: scale(1.02); }